$color-bright: #F73957;
$color-bright-alt: #E62846;
$color-background: #FFF;
$color-strong: #1861C1;
$color-strong-bright: #2972D2;
$color-foreground: #453D34;
$color-accent: #FEBE03;
$color-shadow: #888;
$color-text-shadow: #AAA;
$color-light-shadow: #CCC;
$color-code-background: #EEE;/*#300F01;*/
$color-code-foreground: $color-strong; /*#B7975D;*/