@import 'fonts';
@import 'colors';
@import 'sizes';
@import 'images';

html{
  background: $image-background;
  background-repeat: repeat;
  background-color: $color-background;
}

body{
  background-color: transparent;
}

content{
  font-family: $font-primary;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  #Content{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;

    h1{
      width: 100%;
      text-align: center;
    }

    .useful-info{
      display: flex;
      width: 80%;
      flex-direction: column;
    }

  }

}
.section-list ul{

  list-style: none;
  padding: 0;

  li{
    padding: $size-padding;
    margin-bottom: $size-padding;
    margin-top: $size-padding;

    &.section{
      box-shadow: 0px 0px $size-shadow $color-shadow;
      border-radius: $size-corners;
      background-color: $color-background;
      margin-bottom: $size-padding * 10;
    }

    &.section-item{
      padding-bottom: $size-padding * 2;
      border-bottom: 1px solid $color-light-shadow;
    }

    h3{
      margin-top: 0;
      margin-bottom: $size-padding;
      font-size: $size-h3;
    }

    h2{
      font-weight: bold;
      width: 100%;
      text-align: left;
      font-size: $size-h2;
      margin: -$size-padding;
      padding: $size-padding * 2 $size-padding $size-padding * 2 $size-padding;
      margin-bottom: $size-padding;
      background-color: $color-strong-bright;
      color: $color-background;
      box-shadow: 0px 1px $size-shadow $color-shadow;

      i{
        color: $color-background;
        margin-right: $size-padding;
        margin-left: $size-padding;
      }

    }

    p{
      padding-left: $size-padding * 2;
      i{
        color: $color-bright;
        font-weight: bolder;
      }

      margin: 0;
    }

    &:last-child{
      border-bottom: none;
    }
  }
}

.code-container{

  margin-left: $size-padding * 2;
  margin-top: $size-padding * 2;
  background-color: $color-code-background;
  padding: $size-padding;
  box-shadow: 0px 0px $size-shadow $color-shadow;
  border-radius: $size-corners;

  .code-line{
    color: $color-code-foreground;
    border-bottom: none;
    font-family: $font-code;
    text-shadow: 1px 1px $size-padding $color-text-shadow;

    &.collapsed{
      margin: 0;
      padding: 0;
    }
  }

  &:last-child{
    border-bottom: none;
  }

}

input[type="text"]{
  padding: $size-border + $size_padding;
  border-radius: $size-corners;
  border: 1px solid $color-foreground;
  font-family: $font-primary;
  margin-top: -($size-border * 2);
  margin-right: $size_padding * 2;
}

a.button{
  padding: $size-padding;
  border-radius: $size-corners;
  background-color: $color-bright;
  font-family: $font-primary;
  color: $color-background;

  &:hover{
    cursor: pointer;
    background-color: $color-bright-alt;
  }
}